<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>
<body>
  <div id="app">
    <h1>{{ title }}</h1>
    <p>3문제맞추기 // 중복있음</p>
    <!-- 머스태치를 이용하여 time 값 가져오기 -->
    <p>{{ time }}초</p>
    
    <!-- @click 이벤트 : show 값 변경, 초기화, 퀴즈시작 -->
      <h2><a @click.prevent="showBtn">Start!</a></h2>

    <!-- v-on을 이용한 이벤트 : 값을 들고 와서 비교 후, 3문제가 지나면 종료 -->
      <form v-if="show" @submit.prevent="onSubmit">

        <!-- 머스테치를 이용해서 quiz 값 가져오기 : computed random quiz들고옴 -->
        <h3>{{ quiz }}</h3>

        <!-- v-model을 이용항 양방향 -->
        <input type="text" v-model="useranswer">

        <p>(띄워쓰기X)</p>
        <p>(값을 입력후 enter)</p>
      </form>

    <p v-show="show">{{ score }}</p>


    </div>






  <script>
    new Vue ({
      el: '#app',
      data: {
        title:"넌센스 퀴즈",
        random: 0,
        time: 0,
        timeId: '',
        useranswer: '',
        score: 0,
        count: 0,
        show: false,
        usedQuiz: [],
        quizlist: [
        {quiz:"자가용의 반대말은?", answer:"커용"},
        {quiz:"전주비빔밥의 반대말은?", answer:"이번주비빔밥"},
        {quiz:"추장보다 높은 사람은?", answer:"고추장"},
        {quiz:"꽃가게 주인이 제일 싫어하는 나라는?", answer:"시드니"},
        {quiz:"해가 울면?", answer:"해운대"},
        {quiz:"96*3", answer:"288"},
        {quiz:"왕이 꿈틀대면?", answer:"왕꿈틀이"},
        {quiz:"세계에서 몸집이 제일 큰 여자의 이름은?", answer:"태평양"},
        {quiz:"길에서 죽은 사람은?", answer:"도사"},
        {quiz:"중학생과 고등학생이 타는 차는?", answer:"중고차"},
        ]
      },
      methods: {
        showBtn: function () {
          // 초기화
          this.quizlist = this.quizlist.concat(this.usedQuiz);

          this.score = 0;
          this.count = 0;
          this.show = !this.show;
          clearTimeout(this.timeId);
          this.time = 0;
          if(this.show) {
            this.timeId = setInterval(() => {this.time++}, 1000);
          }
          this.startquiz();
        },
        onSubmit() {
        if (this.useranswer == this.quizlist[this.random].answer) {
          this.score++;
          // splice(인덱스, 삭제할 갯수) : 삭제한 요소를 배열로 반환
          this.usedQuiz.push(this.quizlist.splice(this.random, 1)[0]);
        }
          this.startquiz();

          //총 개수값 증가
          this.count++;
          this.useranswer = "";

          // 3번 지났을 때 종료
          if (this.count == 3) {
            this.show = false;
            clearTimeout(this.timeId);
          }
        },
        startquiz() {
          // 랜덤값 바꾸기
          this.random = Math.floor((Math.random()*this.quizlist.length));
        },
      },
      computed: {
        // 퀴즈 화면에 출력
        quiz() {
          return this.quizlist[this.random].quiz;
        },
      }
    })

  </script>
</body>
</html>