<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <input type="text" v-model="message">
    <!-- Vue인스턴스가 부모가되어 v-bind를 통해 message를 전달 -->
    <child-component v-bind:childmessage="message"></child-component>

    <!-- parent 컴포넌트가 부모가 되어 v-bind를 통해 message 전달 -->
    <parent-component></parent-component>

    <!-- v-bind가 아닌 속성의 이름으로 전달하는 그 값이 문자열로 전달 -->
    <child-component childmessage="message"></child-component>

    <p>실습1</p>
    <label>이름을 작성해주세요</label>
    <input type="text" v-model="name"></input>
    <simple-component v-bind:childname="name[0]" age="20"></simple-component>
    <simple-component v-bind:childname="firstname" age="27"></simple-component>

    <p>실습2</p>
    <!-- 배열값을 인덱스로 접근 -->
    <people-component :peoplename="namePeople[0]"></people-component>
    <people-component :peoplename="namePeople[1]"></people-component>
    <!-- 배열값을 v-for로 접근 -->
    <people-component :peoplename="n" v-for="n in namePeople" ></people-component>

  </div>

  <script>
    
    Vue.component('child-component', {
      // 태그에서 속성처럼 사용하여 값을 들고 옴, 배열
      props: ['childmessage' ],
      template: 
      `
      <div>
        <!-- data와 동일하게 사용 -->
        <p>{{ childmessage }}</p>
      </div>
      `
    })

    Vue.component('parent-component',{
      props: [],
      template: 
      `
      <div>
        <input type="text" v-model="message">
        <p>부모컴포넌트입니다</p>
        <child-component v-bind:childmessage="message"></child-component>
        </div>
      `,
      data: function () {
        return {
          message: '부모컴포넌트의 메시지'
        }
      }
    })


    Vue.component('simple-component', {
      // html의 속성명=값 형식으로 외부에서 받아오는 값
      props: ['childname', 'age'],
      template: 
      `
      <div>
        <p>자식 컴포넌트에 작성되고 있습니다 : {{ childname }}</p>
        <p>자식 컴포넌트에 작성되고 있습니다 : {{ age }}세</p>
        <p>자식 컴포넌트에 작성되고 있습니다 : {{ address }}</p>
      </div>
      `,
      data : function() { //vue 컴포넌트 내부에서 사용되는 값
        return {
          address : "부산",
        }
      }
    })

    //실습 1
    Vue.component('people-component',{
      props: ['peoplename'],
      template: 
      `
      <div>
        <p>사람이름 : {{ peoplename }}</p>
      </div>
      `
    })
    //실습 2
    new Vue ({
      el: '#app',
      data: {
        message: "부모의 메시지",
        name : ['a', 'b'],
        firstname: "김",
        namePeople: ["철수","영희"]
      }
    })
  </script>
</body>
</html>