<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <!-- 슬롯의 갯수에 따라 슬롯 컴포넌트 작성값을 출력 -->
    <slot-component>
      새로운 값을 넣어준다
    </slot-component>

    <slot-component>
      <p>태그를 작성해서 넣어준다</p>
      <p>전체 내용이 slot에 들어간다</p>
    </slot-component>

    
    <h3>실습 1</h3>
    <link-component url="https://www.naver.com/">네이버</link-component>
    <link-component url="https://www.daum.net/">다음</link-component>


    <h3>실습 2</h3>
    <input type="text" v-model="memo">
    <button @click="addMemo">메모추가</button>
    <memo-component v-for="m in memolist">{{ m }}</memo-component>
  </div>

  <script>
    Vue.component('slot-component', {
      template: 
      `
      <div>
        <h3>슬롯</h3>
        <slot></slot> 
        <slot></slot> 
      </div>
      `,
      data : function() {
        return {

        }
      }
    })


    // 슬롯 실습1
    Vue.component('link-component', {
      props: ['url'],
      template: 
      `
      <div>
        <p>슬롯사용</p>
        <a :href="url">
          <slot></slot> 
        </a>
      </div>
      `,
      data : function() {
        return {

        }
      },
    })


    // 슬롯 실습2
    Vue.component('memo-component', {
      template: 
      `
      <div>
          <h4>메모</h4>
          <slot></slot>
          <p>{{ time }}</p>
      </div>
      `,
      data: function() {
        return {
          time : new Date()
        }
      },
    })


    new Vue ({
      el: '#app',
      data: {
        memo: "",
        memolist: [],
      },
      methods: {
        addMemo() {
          //memo의 값을 들고와서 memolist에 넣어준다
          this.memolist.push(this.memo);
          this.memo = ""
        }
      }
    })
  </script>
</body>
</html>