<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <button v-on:click="error = !error">error true/false</button>
    <p v-if="error">에러 발생 : 이미지를 로드하지 못했습니다.</p>
    <p v-else-if="appear">에러 발생하지 않았지만 이미지는 없습니다.</p>
    <p v-else>마지막 else 로 만들어진 p요소입니다.</p>
  </div>

    <p>실습1</p>

    <div id="apps">
    <button v-on:click="login = !login">임시로그인 버튼</button>

    <!-- 로긴 true -->
    <p v-if="login">{{ id }}님이 로그인 하였습니다.</p>
    <!-- 로긴 false -->
    <div v-else>
      <p >아이디를 입력해주세요</p>
      <input type="text" v-model="id">
    </div>
  
    <p>실습2</p>

    <button v-on:click="canAddCart = !canAddCart">임시 canAddCart</button>
    <!-- true -->
    <div v-if="canAddCart">
      <p>상품이 있습니다</p>
      <button>구매가 가능합니다</button>
    </div>
    <!-- false -->
    <div v-else>
      <p>상품이 없습니다</p>
      <button disabled>구매가 불가능합니다</button>
    </div>
    <p>{{ canAddCart ? "상품이 있습니다" : "상품이 없습니다 " }}</p>
    <button :disabled="!canAddChild">
      구매 {{ canAddCart ? "가능" : "불가능" }} 합니다.
    </button>
    
    <!-- v-show는 display의 값을 none 으로 하여 보이지 않게 숨긴다 -->
    <h3 v-show="canAddCart">상품이 있으므로 보입니다</h3>
  </div>

  <script>
    new Vue ({
      el : "#app",
      data: { 
        error : false,//비교연산자 넣어서 값이 true면 true , '' == false
        appear : false,
      }
    })

    new Vue ({
      el: "#apps",
      data: {
        login : false,
        id: "",
        canAddCart: true,
        disabled: true,
      }
    })
  </script>
</body>
</html>